.dark {
    height: 95vh;
    background-image: url("./images/background.png") ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    font-family: ProximaNova,Arial,Helvetica Neue,sans-serif;
    letter-spacing: 0;
}

.light {
    height: 95vh;
    background-image: url("./images/backgroundlight.jpeg") ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    font-family: ProximaNova,Arial,Helvetica Neue,sans-serif;
    letter-spacing: 0;
}
.transform{
    width: 430px;
    height: 100px;
    border: none;
}

.headimg{
    background-image: url("./images/centerbackground.png");
    background-size:auto;
    background-position: top;
    background-repeat: no-repeat;
}

.headimg2{
    background-image: url("./images/head2.png");
background-size:contain;
background-position: top;
background-repeat: no-repeat;
background-color: transparent ;
border: none;
}

.headimg:hover{
    background-image: url("./images/centerbackground.png");
    background-size:auto;
    background-position: top;
    background-repeat: no-repeat;
    border: 2px white solid;

}
.coloum {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.container {
    height: 300px;
    border: 1px solid white;
    width: 500px;
    background-color: white;
    color: black;
    justify-content: center;
    align-items: center;
}

.options {
    height: 300px;
    border: 1px solid white;
    margin: 30px;
}
.image{
    width: 250px;
    height: 300px;
}
.image2{
    width: 250px;
    height: 300px;
}
.option {
    height: 100px;
    width: 100px;
    background: transparent;
    color: white;
    border: 1px solid white;
}
.hover:hover {
    background: white;
    color: black;
}

.selected{
    background: gray;
    color: white;
}

.submit{
    background-color: gray;
    display: flex;
    height: 30px;
    width: 150px;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    color: white;
}
 .hidden{
    display: none;
 }

 input{
    padding: 10px 10px;
    border: 1px solid #eee;
    background: #eee;
 }
 